* {
  font-family: Arial, Helvetica, sans-serif;
}

div.container-example {
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

/* ITEM 1 */
div#ctn-ex1 {
  display: flex;
  flex-flow: row nowrap;
}

div.exItem1 {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 1;

  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
}

/* ITEM 2 */
div#ctn-ex2 {
  display: flex;
  flex-flow: row nowrap;
}

div.exItem2, exItem2A{
  border: solid 1px black;
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 2;
}

div.exItem2, exItem2B{
  border: solid 1px black;
  flex-basis: 200px;
  flex-shrink: 0;
  flex-grow: 2;
}

div.exItem2, exItem2C{
  border: solid 1px black;
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 2;
}